<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"
      defer
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/EasePack.min.js"
      defer
    ></script>
    <script type="module" src="/public/main.js" defer></script>
    <link rel="stylesheet" href="/public/main.css" />
    <title>{{ title }}</title>
  </head>

  <!-- fixed overflow-hidden -->
  <body
    class="bg-stone-1000 px-6 font-fragment-text text-stone-50 md:static md:overflow-visible"
  >
    {% include "header.njk" %}

    <main>
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}
  </body>
</html>
