<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/_tmp/public/js/main.js" defer></script>
    <link rel="stylesheet" href="/_tmp/public/css/main.css" />
    <link rel="stylesheet" href="/_tmp/public/css/code.css" />
    <title>{{ title }}</title>
  </head>

  <body class="bg-stone-1000 px-6 font-fragment-text text-stone-50">
    {% include "header.njk" %}

    <main>
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}
  </body>
</html>
