<footer
  class="mx-auto mt-20 mb-10 max-w-xl rounded-[32px] bg-stone-800 py-8 px-6"
>
  <div class="mb-8 grid grid-cols-2 gap-3">
    <div>
      <span class="mb-3 block font-fragment-glare text-xl font-extrabold"
        >More</span
      >
      <ul>
        <li>
          <a
            class="block rounded-md p-2 pl-0 underline transition-[padding] duration-150 ease-out hover:bg-stone-700 hover:pl-2"
            href="/"
            >Home</a
          >
        </li>
        <li>
          <a
            class="block rounded-md p-2 pl-0 underline transition-[padding] duration-150 ease-out hover:bg-stone-700 hover:pl-2"
            href="/blog"
            >Blog</a
          >
        </li>
        <li>
          <a
            class="block rounded-md p-2 pl-0 underline transition-[padding] duration-150 ease-out hover:bg-stone-700 hover:pl-2"
            href="/projects"
            >Projects</a
          >
        </li>
        <li>
          <a
            class="block rounded-md p-2 pl-0 underline transition-[padding] duration-150 ease-out hover:bg-stone-700 hover:pl-2"
            href="/public/resume.pdf"
            target="_blank"
            >Resume</a
          >
        </li>
      </ul>
    </div>
    <div>
      <span class="mb-3 block font-fragment-glare text-xl font-extrabold"
        >Connect</span
      >
      <ul>
        <li>
          <a
            class="block rounded-md p-2 pl-0 underline transition-[padding] duration-150 ease-out hover:bg-stone-700 hover:pl-2"
            href="https://github.com/joepetrillo"
            target="_blank"
            >GitHub</a
          >
        </li>
        <li>
          <a
            class="block rounded-md p-2 pl-0 underline transition-[padding] duration-150 ease-out hover:bg-stone-700 hover:pl-2"
            href="https://linkedin.com/in/jpetrillo19"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li>
          <a
            class="block rounded-md p-2 pl-0 underline transition-[padding] duration-150 ease-out hover:bg-stone-700 hover:pl-2"
            href="https://twitter.com/jpetrillo19"
            target="_blank"
            >Twitter</a
          >
        </li>
        <li>
          <a
            class="block rounded-md p-2 pl-0 underline transition-[padding] duration-150 ease-out hover:bg-stone-700 hover:pl-2"
            href="https://www.instagram.com/jpetrillo19/?hl=en"
            target="_blank"
            >Instagram</a
          >
        </li>
      </ul>
    </div>
  </div>
  <span class="block text-center text-base">Joe Petrillo - 2022</span>
</footer>
