<header>
  <img
    src="https://cdn.discordapp.com/attachments/334513647529361408/901838149506957312/download-2.png"
    alt="headshot"
  />

  <div>
    <a href="/"><h1>JOE PETRILLO</h1></a>

    <div>
      <nav>
        <a target="_blank" href="https://github.com/joepetrillo"
          ><i></i>GitHub</a
        >
        <a target="_blank" href="https://linkedin.com/in/jpetrillo19"
          ><i></i>LinkedIn</a
        >
        <a href="/blog/"><i></i>Blog</a>
        <a href="/projects/"><i></i>Projects</a>
        <a target="_blank" href="/public/resume.pdf"><i></i>Resume</a>
      </nav>
    </div>
  </div>

  <div>
    <div></div>
  </div>
</header>
