<header>
    <div class="nav-container">
        <a href="/">
            <h1>JOE PETRILLO</h1>
        </a>
        <div class="nav-btn">
            <div class="nav-btn-burger"></div>
        </div>
    </div>
    <nav class="mobile-nav">
        <div class="container">
            <a target="_blank" href="https://github.com/joepetrillo"><i class="nav-icon fab fa-github"></i>Github</a>
            <a target="_blank" href="https://linkedin.com/in/jpetrillo19"><i
                    class="nav-icon fab fa-linkedin"></i>LinkedIn</a>
            <a target="_blank" href="/assets/pdf/resume.pdf"><i class="nav-icon fas fa-file-alt"></i>Resume</a>
            <a href="/projects/"><i class="nav-icon fas fa-link"></i>Projects</a>
        </div>
    </nav>
</header>