/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
/* Base Vertical Spacing */
    --space: 1.8;

/* Vertical Spacing - multiplier */
    --vspace: calc(var(--space) * 1rem);
    --vspace-0: calc(3 * var(--space) * 1rem);
    --vspace-1: calc(2 * var(--space) * 1rem);
    --vspace-2: calc(1.5 * var(--space) * 1rem);
    --vspace-3: calc(0.5 * var(--space) * 1rem);

/* Colors */
    --dark-color: #0b0b0c;
    --dark-accent-color: #1a1a1d;
    --light-color: #f5f5f5;
    --light-accent-color: #cacaca;

/* Font */
    --primary-font: "Inter", sans-serif;
}

*, ::after, ::before {
    box-sizing: border-box;
  }

html {font-size: 16px;}

body {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: var(--primary-font);
    padding: 0 15px;
    margin: 0;

    /* font-size: 1.125em; */
    /* max-width: calc(25 * var(--vspace)); */
    /* margin: 0 auto; */
}

body.is-active {
    overflow: hidden;
}

main {
    max-width: 65ch;
    margin: 0 auto;
}

p {
    margin: var(--vspace) 0; 
    line-height: var(--vspace);
}

h1 {
    margin: var(--vspace-1) 0 var(--vspace-1) 0;
    line-height: calc(3.5833/var(--space)* var(--vspace));
}

h2 {
    margin: var(--vspace-2) 0 var(--vspace-3) 0;
    line-height: 1em;
}

h3 {
    margin: var(--vspace-1) 0 var(--vspace-3) 0;
    line-height: 1em;
}

h4, h5, h6 {
    margin: var(--vspace-2) 0 var(--vspace-3) 0;
    line-height: var(--vspace);
}

.bigtitle, h1 {
    font-size: 3.5833em;
    word-break: break-word;
}

.title, h2 {
    font-size: 2.5208em; 
    word-break: break-word;
    /* font-weight: lighter;  */
}

.subheading1, h3 {
    font-size: 2em;
    /* font-weight: normal; */
    /* text-transform: uppercase;
    letter-spacing: .1em; */
}

blockquote {
    font-size: 1.125em;        
    font-style:italic; 
    line-height: calc(1.125*var(--vspace));
    margin: var(--vspace-2) var(--vspace-2);
}

.subheading2, h4 {
    font-size: 1.6042em;
    /* text-transform: capitalize; */
}

.subheading3, h5 {
    font-size: 1.4167em; 
    /* font-weight: lighter;  */
    /* text-transform: uppercase; 
    letter-spacing: .15em; */
}

.subheading4, h6 {
    font-size: 1.2708em;
    /* font-weight: normal;
    font-style: italic;
    font-family: "le-monde-livre-classic-byol",serif !important;
    letter-spacing: 0px!important; */
}

.caption_ts {
    font-size: 0.8958em;
    /* font-weight: normal;
    font-style: italic; */
}

.endnote_ts {font-size: 0.8958em;}

.footnote_ts {
    margin: var(--vspace-0) 0 var(--vspace-2) 0;
    font-size: 0.8125em;  
    border-top: 1px solid #ccc;
    line-height: 2em;
}

sup { 
    font-size: 0.8125rem;
    margin: .5em; 
    text-transform: none;
    font-style: italic;
    font-weight: normal;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

/* =========== HEADER =========== */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.header__headshot {
    width: 10rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.header__title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    margin-left: 0.625rem;
}

.nav-wrapper {
 /* Empty for now */
}

.navlinks-wrapper {
    display: flex;
    align-items: flex-start;
    height: 27px;
}

.navlink {
    font-size: 1.2rem;
    padding: 0.625rem;
    padding-top: 0;
    border-radius: 4px;

    display: flex;
    align-items: center;
    
    transition: all 0.1s ease-out;
}

.navlink:hover {
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 0.625rem;
}

.navlink__icon {
    font-size: 1.7rem;
    margin-right: 5px;
}

/* =========== HAMBURGER =========== */

.nav-btn {
    cursor: pointer;

    position: relative;
    height: 50px;
    width: 50px;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn.is-active { /* NEEDS WORK */
    position: fixed;
    right: 15px;
}

.nav-btn-burger {
    background-color: var(--light-color);
    border-radius: 5px;
    height: 5px;
    transition: all 0.3s;
    width: 40px;
}

.nav-btn-burger::before, .nav-btn-burger::after {
    background-color: var(--light-color);
    border-radius: 5px;
    content: '';
    height: 5px;
    position: absolute;
    transition: all 0.3s;
    width: 40px;
}

.nav-btn-burger::before {
    transform: translateY(-15px);
}

.nav-btn-burger::after {
    transform: translateY(15px);
}

.nav-btn.is-active .nav-btn-burger {
    background: transparent;
}

.nav-btn.is-active .nav-btn-burger::before {
    transform: rotate(45deg);
    background-color: var(--dark-color);
}

.nav-btn.is-active .nav-btn-burger::after {
    transform: rotate(-45deg);
    background-color: var(--dark-color);
}

/* =========== ARTICLE CARD =========== */

.article-card {
    border-bottom: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 1rem;
    margin: var(--vspace) 0;
    transition: all 0.1s ease-out;
}

.article-card:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.article-card__header {
    margin-bottom: var(--vspace-3);
}

.article-card__title {
    margin: 0;
    margin-bottom: 0.25rem;
}

.article-card__date {
    margin: 0;
}

.article-card__desc {
    margin: 0;
}

/* =========== TIMELINE =========== */

.timeline-entry {
    padding: var(--vspace-3) 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.timeline-entry__title {
    margin: 0;
}

.timeline-entry__desc {
    margin: 0;
}

.timeline-entry__dates {
    margin: 0;
}

.timeline-entry:first-of-type {
    padding-top: 0;
    margin-top: var(--vspace);
}

.timeline-entry:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

/* =========== CONTACT =========== */

.contact-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--vspace) 0;
}

.contact-card__title {
    margin: 0;
}

.contact-card__desc {
    margin: 0;
}

.contact-card__icon {
    margin-right: 10px;
}

/* =========== MISC =========== */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--light-color);
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.35rem;
    bottom: -5px;
    left: 0;
    background-color: var(--light-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}  

.lighter {
    color: var(--light-accent-color);
}

section {
    margin-bottom: var(--vspace-0);
}

.section-header {
    background-image: linear-gradient(120deg, #564991 30%, #31baff 100%);
    background-position: 0 calc(100% - 3px);
    background-repeat: no-repeat;
    background-size: 100% 0.35rem;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

/* =========== MEDIA QUERIES =========== */

@media (min-width: 769px) { /* ABOVE 768px */
    body.is-active {
        overflow: auto;
    }

    .nav-btn {
        display: none;
    }
}

@media (max-width: 768px) { /* 768px and BELOW */
    header {
        justify-content: space-between;
    }

    .header__headshot {
        display: none;
    }

    .header__title {
        font-size: 2.2rem;
        margin: 0;
    }

    .nav-wrapper {
        background-color: var(--light-color);

        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.3s;
    }

    .nav-wrapper.is-active {
        top: 0;
    }

    .navlinks-wrapper {
        flex-direction: column;
        height: auto;
    }

    .navlink {
        font-size: 1.7rem;
        padding: 0.625rem;
        color: var(--dark-color);
    }

    .navlink:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }

    .navlink:not(:last-child) {
        margin-bottom: 2rem;
    }

    .navlink__icon {
        font-size: 2rem;
    }
}

