/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* CSS VARIABLES */
:root {
  /* COLOR */
  --dark-color: #0b0b0c;
  --dark-accent-color: #1a1a1d;
  --light-color: #f5f5f5;
  --light-accent-color: #cacaca;

  /* FONT */
  --primary-font: "Inter", sans-serif;
  --h1-font-size: 2.3rem;
  --h2-font-size: 2.1rem;
  --h3-font-size: 1.6rem;
  --h4-font-size: 1.4rem;
  --normal-font-size: 1.05rem;
  --normal-line-height: 1.8;

  /* MARGIN + PADDING */
  --mg-xs: 0.5rem;
  --mg-s: 1rem;
  --mg-m: 1.5rem;
  --mg-l: 2rem;
  --mg-xl1: 2.5rem;
  --mg-xl2: 3rem;
  --mg-xl3: 4rem;
  --mg-xl4: 5rem;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	margin: 0;
	padding: 0;
}

::selection {
  background: #353757; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #353757; /* Gecko Browsers */
}

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: var(--primary-font);
  font-size: var(--normal-font-size);
  padding: 0 15px;
}

body.is-active {
  overflow: hidden;
}

ol, ul {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: var(--normal-line-height);
}

img, picture {
  max-width: 100%;
  display: block;
}

article h2, article h3 {
  margin-bottom: 1em;
}

header {
  margin-top: var(--mg-m);
}

header, section {
  margin-bottom: var(--mg-xl4);
}

.nav-container {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
}


/* =========== SCROLLBAR =========== */

body::-webkit-scrollbar {
  width: 0.5rem;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--light-accent-color);
  border-radius: 6px;
}

/* =========== HAMBURGER =========== */

.nav-btn {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  position: relative;
  width: 50px;
  z-index: 100;
}

.nav-btn.is-active {
  position: fixed;
  right: 15px;
  top: 1.5rem;
}

.nav-btn-burger {
  background-color: var(--light-color);
  border-radius: 5px;
  height: 5px;
  transition: all 0.3s;
  width: 40px;
}

.nav-btn-burger::before, .nav-btn-burger::after {
  background-color: var(--light-color);
  border-radius: 5px;
  content: '';
  height: 5px;
  position: absolute;
  transition: all 0.3s;
  width: 40px;
}

.nav-btn-burger::before {
  transform: translateY(-15px);
}

.nav-btn-burger::after {
  transform: translateY(15px);
}

.nav-btn.is-active .nav-btn-burger {
  background: transparent;
}

.nav-btn.is-active .nav-btn-burger::before {
  transform: rotate(45deg);
  background-color: var(--dark-color);
}

.nav-btn.is-active .nav-btn-burger::after {
  transform: rotate(-45deg);
  background-color: var(--dark-color);
}

/* =========== MOBILE NAV =========== */

.mobile-nav {
  align-items: center;
  background-color: var(--light-color);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 100%;
  transition: all 0.3s;
  width: 100%;
}

.mobile-nav.is-active {
  top: 0;
}

.mobile-nav .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-nav a {
  color: var(--dark-color);
  font-size: var(--h2-font-size);
}

.mobile-nav a:not(:last-child) {
  margin-bottom: var(--mg-xl4);
}

.nav-icon {
  font-size: 2.2rem;
}

/* =========== MOBILE NAV END =========== */

.lighter {
  color: var(--light-accent-color);
}

.content-wrapper {
  margin: 0 auto;
  max-width: 70ch;
}

.section-header {
 background-image: linear-gradient(120deg, #564991 30%, #31baff 100%);
 background-position: 0 calc(100% - 4px);
 background-repeat: no-repeat;
 background-size: 100% 0.15em;
 margin-bottom: 1em;
 text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.section-p, .section-date, article p {
  margin-bottom: 1.5em;
}

/* =========== ARTICLE CARD =========== */

.article-card {
  background-color: var(--dark-color);
  border: 4px solid var(--dark-accent-color);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: var(--mg-xl1);
  transition: all 0.15s;
}

.article-card:hover {
  background-color: var(--dark-accent-color);
}

.article-card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mg-xs);
}

.article-card__date {
  min-width: max-content;
  margin-left: var(--mg-l);
}

/* =========== TIMELINE =========== */

.timeline-entry {
  border-bottom: 2px solid var(--dark-accent-color);
  padding: calc(var(--mg-m) / 2) 0;
}

.timeline-entry:first-of-type {
  padding-top: 0;
}

.timeline-entry:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

/* =========== CONTACT =========== */

.contact-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mg-m);
}

.contact-icon, .nav-icon {
  margin-right: 10px;
}

/* =========== MEDIA QUERIES =========== */

@media only screen and (min-width: 768px) {
}