---
title: "Blog"
layout: "base.njk"
description: "Read about me, learn from my short guides, and get to know what's on my mind."
---

<h1
  class="mx-auto mb-20 max-w-5xl text-center font-fragment-glare text-3xl font-extrabold leading-[40px] sm:text-4xl sm:leading-[50px] md:text-5xl md:leading-[65px] lg:text-6xl lg:leading-[80px]"
>
  Blog
</h1>
<div class="mx-auto grid max-w-5xl gap-6 md:grid-cols-2 lg:gap-10">
  {%- for post in collections.post | reverse -%}
  <a
    class="rounded-2xl border-x-[3px] border-y-[3px] border-stone-800 py-8 px-5 transition-[background-color] duration-150 ease-out hover:bg-stone-800 md:px-8 md:py-9"
    href="{{ post.url }}"
  >
    <div class="mb-6">
      <h3
        class="mb-3 font-fragment-glare text-xl font-extrabold underline decoration-1"
      >
        {{ post.data.title }}
      </h3>
      <p class="text-stone-300">
        {{ post.data.date | date }}
      </p>
    </div>
    <p class="leading-7 text-stone-300">
      {{ post.data.description }}
    </p>
  </a>
  {%- endfor %}
</div>
