---
title: 'Blog'
layout: 'base.njk'
---

<section>
    <h2 class="section-header">Blog Posts</h2>

    {%- for post in collections.post | reverse -%}
    <a href="{{ post.url }}">
        <div class="article-card">
            <div class="article-card__header">
                <h5 class="article-card__title">{{ post.data.title }}</h5>
                <p class="article-card__date lighter">{{ post.data.date | postDate }}</p>
            </div>
            <p class="article-card__desc lighter">{{ post.data.description }}</p>
        </div>
    </a>
    {%- endfor %}

</section>