---
title: "Blog"
layout: "base.njk"
---

<section>
  <h2>Blog Posts</h2>

  {%- for post in collections.post | reverse -%}
  <a href="{{ post.url }}">
    <div>
      <div>
        <h5>{{ post.data.title }}</h5>
        <p>
          {{ post.data.date | date }}
        </p>
      </div>
      <p>{{ post.data.description }}</p>
    </div>
  </a>
  {%- endfor %}
</section>
