---
title: "Joe Petrillo"
layout: "base.njk"
---

<section>
  <h2>About</h2>
  <p>
    Hi! I'm Joe Petrillo. I am a junior at the University of Massachusetts
    Amherst studying Computer Science. I have a passion for full stack
    development as well as UI/UX design, and am constantly striving to learn
    more.
  </p>
  <p>
    I have always called Cape Cod Massachusetts my home. Outside of my studies I
    enjoy playing golf, building computers and taking the occasional tropical
    beach vacation. (Ever been to Aruba?)
  </p>
</section>

<section>
  <h2>Timeline</h2>
  <div>
    <h5>Loom</h5>
    <p>Software Engineer Intern</p>
    <p>Internship Program Cancelled</p>
  </div>
  <div>
    <h5>UMass Amherst</h5>
    <p>Undergraduate CS Student</p>
    <p>2019 - 2023</p>
  </div>
  <div>
    <h5>Pinehills Golf Club</h5>
    <p>Outside Services</p>
    <p>2018 - 2021</p>
  </div>
  <div>
    <h5>Born</h5>
    <p>Cape Cod, MA</p>
    <p>2001</p>
  </div>
</section>

<section>
  <h2>Latest Posts</h2>
  {%- for post in collections.post.slice(collections.post.length-2,
  collections.post.length) | reverse -%}
  <a href="{{ post.url }}">
    <div>
      <div>
        <h5>{{ post.data.title }}</h5>
        <p>
          {{ post.data.date | date }}
        </p>
      </div>
      <p>{{ post.data.description }}</p>
    </div>
  </a>
  {%- endfor %}

  <a href="/blog/">View all blog posts</a>
</section>

<section>
  <h2>Latest Projects</h2>
  {%- for project in collections.project.slice(collections.project.length-2,
  collections.project.length) | reverse -%}
  <a href="{{ project.url }}">
    <div>
      <div>
        <h5>{{ project.data.title }}</h5>
        <p>
          {{ project.data.date | date }}
        </p>
      </div>
      <p>{{ project.data.description }}</p>
    </div>
  </a>
  {%- endfor %}

  <a href="/projects/">View all projects</a>
</section>

<section>
  <h2>Contact</h2>
  <div>
    <h5><i></i>Email</h5>
    <p>jpetrillo119@gmail.com</p>
  </div>
</section>
