---
title: "Projects"
layout: "base.njk"
---

<section>
  <h2>Projects</h2>

  {%- for project in collections.project | reverse -%}
  <a href="{{ project.url }}">
    <div>
      <div>
        <h5>{{ project.data.title }}</h5>
        <p>
          {{ project.data.date | date }}
        </p>
      </div>
      <p>{{ project.data.description }}</p>
    </div>
  </a>
  {%- endfor %}
</section>
